* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #000, #1e1e1e, #3a0ca3, #4361ee, #f308fb);
    font-family:sen;
    height:100vh;
}

/* Navigation Bar */
nav {
    width: 100%;
    background: transparent;
    padding: 15px 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
}

.logo {
    background: linear-gradient(to right, #FF7777, #FF1D69, #5A3FF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 2rem;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #FF1D69;
}
section{
    font-family: sans-serif;
    color: white;
    text-align: left;
    margin-top: 150px;
    margin-left: 50px
}

.Name{
    color: #7C02FF;
}
.dev{
    color: #E24343;
}
.abt{
    max-width: 500px;
    word-wrap: break-word;
    line-height:1.5;
    text-indent: 10px;
    text-align: left;
    padding: 5px;
}
.btn{
    margin-left: 50px;
    border: 2px solid cyan;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: cyan;
    color: white;
    position: relative;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan;
    overflow: hidden;
    margin-top: 15px;
}
.btn:hover {
    background-color: cyan;
    color: white;
    box-shadow: 0 0 20px cyan, 0 0 40px cyan, 0 0 60px cyan;
}